<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Cookmaster - Home</title>
  </head>
  <body>
    <%- include('../header.ejs', {user}); %>
    <h2><%= recipeDetails.name %></h2>
    <h4>Enviada por <%= recipeDetails.user %></h4>
    <h3>Ingredientes</h3>
    <ul>
      <% recipeDetails.ingredients.split(',').forEach((ingredient) => { %>
        <li><%= ingredient %></li>
      <% }) %>
    </ul>
    <h3>Modo de preparo</h3>
    <article><%= recipeDetails.instructions %></article>
    <div>
      <% if (user && user.id === recipeDetails.userId) { %>
        <a data-testid="editar-receita" href=<%= `${recipeDetails.id}/edit` %>>Editar Receita</a>
        <a data-testid="excluir-receita" href=<%= `${recipeDetails.id}/delete` %>>Excluir Receita</a>
        <a data-testid="minhas-receitas" href="/me/recipes">Minhas Receitas</a>
      <% } %>
    </div>
  </body>
</html>
